@import url('https://fonts.googleapis.com/css?family=Open+Sans');

.login {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
  height: 100vh;
  width: 100vw;
  background-color: #afd4c0;
}

.loginContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  /* min-height: 850px;
  min-width: 850px; */
  background-color: white;
  width: 60%;
  height: 100%;
  flex-direction: column;
}

.authLogo {
  margin-top: 250px;
}

.itemtext {
  font-weight: bold;
  position: relative;
}

.item_input {
  font-weight: bold;
  font-size: 1.75em;
  width:475px;
  height: 60px;
  border-color: #AB2A19;
  border-width: 1px;
  border-radius: 5px;
}

button{
  height: 60px;
  width: 170px;
  margin: 40px;
  background-color: #C0C0C0;
  font-weight: bold;
  font-size:1.5em;
  border-radius: 5px;
}