.main_container{
    height: 90vh;
    width: 100vw;
    background: #afd4c0;
    display: flex;
    justify-content: center;
}

.content_container{
    height: 90vh;
    width: 50vw;
    background: white;
    

}

.addListing{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.step{
    width: 60%;
    margin: auto;
}

.what_stage{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 20px;
}

.imgContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70%;
    height: 300px;
    background-color: #dedede;
    margin: auto;
    border-radius: 2px;
    color: rgba(0,0,0,.2);
    margin-bottom: 20px;
    border: 1px solid #519872;
    font-weight: bold;
}

.imageInput {
    width: 60%;
}

.buttonContainer {
    margin-top: 20px;
}

.previousStep {
    background-color:#3b5249;
    height: 40px;
    width: 100px;
    color: white;
    margin-right: 20px;
}

.nextStep {
    margin-left: 20px;
    background-color:#3b5249;
    height: 40px;
    width: 100px;
    color: white;
}